features/*   
 * Template Name: devAid - Responsive Website Template for developers
 * Version: 1.1
 * Author: Xiaoying Riley
 * Twitter: @3rdwave_themes
 * License: Creative Commons Attribution 3.0 License
 * Website: http://themes.3rdwavemedia.com/
*/
/* Default */
/* ======= Base ======= */



body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: oblique;
}
@font-face{
   font-family: promo; src: url(../fonts/clementine-sketch.ttf);
   }
h1{
   font-family: promo;
   text-align: center;
   font-size: 70px;
  	color: #fff;
  	padding-bottom: 75px;
  	padding-top: 50px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #17baef;
}
.contribute_container h2,
h3,
h4,
h5,
h6{
  font-weight: 700;
  color: white;
}
.navbar{
  
  padding-top: 20px !important;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  box-shadow: 0 0 4px rgba(0,0,0,0.4); 
}
.navbar-brand {
  font-family: promo;
  position: absolute;
  left: 120px;
  top:10px;
  color: white !important;
  font-size: 20px;
}

.navbar-nav a
{
    position:absolute;
    top: -10px; 
    font-size: 16px;
    color: cornsilk;

}
.navbar.affix a{
    font-size: 16px;
    color: orange;
    }
  .navbar-brand.affix {
    position: absolute;
    top: 10px;
    height: 50px;
    width: 50px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: orange;
    }
    .content{
       -webkit-animation: fadein 7.5s; /* Safari and Chrome */
       -moz-animation: fadein 7.5s; /* Firefox */
       -ms-animation: fadein 7.5s; /* Internet Explorer */
       -o-animation: fadein 7.5s; /* Opera */
       animation: fadein 7.5s;
       }
    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
    .content p{
      text-indent: 5em;
    }
    .about{
       font-size: 12px !important;
       -webkit-animation: fadein 7.5s; /* Safari and Chrome */
       -moz-animation: fadein 7.5s; /* Firefox */
       -ms-animation: fadein 7.5s; /* Internet Explorer */
       -o-animation: fadein 7.5s; /* Opera */
       animation: fadein 7.5s;
       }
    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
 .about p > a{
  list-style: none;
  color: #FA5882;
  text-decoration: none;
 }
 .us{
  background: #FFFFFF;
 }
 .ab p > span{
  text-decoration-color: #FA5882;
  font-style: bold;
 }
a {
   -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #0e98c5;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #074f66;
  border: 1px solid #074f66;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #053c4e;
  border: 1px solid #053c4e;
  color: #fff;
}
a.btn-cta-secondary,
.btn-cta-secondary {
  background: #eebf3f;
  border: 1px solid #eebf3f;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #ecb728;
  border: 1px solid #ecb728;
  color: #fff;
}
.text-highlight {
  color: #074f66;
}
.offset-header {
  padding-top: 90px;
}
pre code {
  font-size: 16px;
}
/* ======= Header ======= */
.header {
  padding: 2px 0;
  background: #f05f40;
  color: #fff;
  position: fixed;
  width: 100%;
}
.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    background-color: orange;
   }

.header.navbar-fixed-top {
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header.navbar-fixed-top .logo a {
  color: #F05F40;
}
.header.navbar-fixed-top .main-nav .nav .nav-item a {
  color: #666;
}
.header .logo {
  margin: 0;
  font-size: 26px;
  padding-top: 10px;
}
.header .logo a {
  color: #fff;
}
.header .logo a:hover {
  text-decoration: none;
}
.header .main-nav button {
  background: #074f66;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button:focus {
  outline: none;
}
.header .main-nav button .icon-bar {
  background-color: #fff;
}
.header .main-nav .navbar-collapse {
  padding: 0;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
}
.header .main-nav .nav .nav-item.active a {
  color: #F05F40;
  background: none;
}
.header .main-nav .nav .nav-item a {
  color: #000000;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-size: 14px;
  padding: 15px 10px;
}
.header .main-nav .nav .nav-item a:hover {
  color: #074f66;
  background: none;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #17baef;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
.contribute_container{
padding-top: 50px;
padding-left: 150px;
padding-right: 150px;

}
/* ======= Promo Section ======= */
.promo {
    color: #fff;
  	padding-top: 50px;
}
.promo .title {
  font-size: 98px;
  color: #074f66;
  margin-top: 0;
}
.promo .title .highlight {
  color: #eebf3f;
}
.promo .intro {
  font-size: 28px;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.promo .btns .btn {
  margin-right: 15px;
  font-size: 18px;
  padding: 8px 30px;
}
.promo .meta {
  margin-top: 120px;
  margin-bottom: 30px;
  color: #0a7396;
}
.promo .meta li {
  margin-right: 15px;
}
.promo .meta a {
  color: #0a7396;
}
.promo .meta a:hover {
  color: #074f66;
}
.promo .social-media {
  background: #0c86ae;
  padding: 10px 0;
  margin: 0 auto;
}
.promo .social-media li {
  margin-top: 15px;
}
.promo .social-media li.facebook-like {
  margin-top: 0;
  position: relative;
  top: -5px;
}
/* ======= About Section ======= */
.about {
  padding: 80px 0;
  background: #fff;
}
.about .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 60px;
}
.about .intro {
	font-size: 28px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.about .item {
  position: relative;
  margin-bottom: 30px;
}
.about .item .icon-holder {
  position: absolute;
  left: 30px;
  top: 0;
}
.about .item .icon-holder .fa {
  font-size: 24px;
  color: #074f66;
}
.about .item .content {
  padding-left: 60px;
}
.about .item .content .sub-title {
  margin-top: 0;
  color: #074f66;
  font-size: 18px;
}
/* ======= Features Section ======= */
.features {
  padding: 80px 0;
  background: #17baef;
  color: #fff;
}
.features .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 30px;
}
.features a {
  color: #074f66;
}
.features a:hover {
  color: #042a36;
}
.features .feature-list li {
  margin-bottom: 10px;
  color: #074f66;
}
.features .feature-list li .fa {
  margin-right: 5px;
  color: #fff;
}
/* ======= Docs Section ======= */
.docs {
  padding: 80px 0;
  background: #fff;
}
.docs .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 30px;
}
.docs .docs-inner {
  max-width: 800px;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}
.docs .block {
  margin-bottom: 60px;
}
.docs .code-block {
  margin: 30px inherit;
}
.docs .code-block pre[class*="language-"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* ======= License Section ======= */
.license {
  padding: 80px 0;
  background: #fff;
}
.license .title {
  margin-top: 0;
  margin-bottom: 60px;
  color: #074f66;
}
.license .license-inner {
  max-width: 800px;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}
.license .info {
  max-width: 760px;
  margin: 0 auto;
}
.license .cta-container {
  max-width: 540px;
  margin: 0 auto;
  margin-top: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.license .cta-container .speech-bubble {
  background: #d6f3fc;
  color: #074f66;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.license .cta-container .speech-bubble:after {
  position: absolute;]
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #d6f3fc;
}
.license .cta-container .icon-holder {
  margin-bottom: 15px;
}
.license .cta-container .icon-holder .fa {
  font-size: 56px;
}
.license .cta-container .intro {
  margin-bottom: 30px;
}
/* ======= Contact Section ======= */
.contact {
  padding: 15px 0;
  color: #fff;
}
.contact .contact-inner {
  max-width: 760px;
  margin: 0 auto;
}
.contact .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact .intro {
  margin-bottom: 60px;
}
.contact a {
  color: #074f66;
}
.contact a:hover {
  color: #042a36;
}
.contact .author-message {
  position: relative;
  margin-bottom: 60px;
}
.contact .author-message .profile {
  position: absolute;
  left: 30px;
  top: 15px;
  width: 100px;
  height: 100px;
}
.contact .author-message .profile img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact .author-message .speech-bubble {
  margin-left: 155px;
  background: #10b2e7;
  color: #074f66;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
}
.contact .author-message .speech-bubble .sub-title {
  color: #074f66;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact .author-message .speech-bubble a {
  color: #fff;
}
.contact .author-message .speech-bubble:after {
  position: absolute;
  left: -10px;
  top: 60px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #10b2e7;
}
.contact .author-message .speech-bubble .source {
  margin-top: 30px;
}
.contact .author-message .speech-bubble .source a {
  color: #074f66;
}
.contact .author-message .speech-bubble .source .title {
  color: #0c86ae;
}
.contact .info .sub-title {
  color: #0e98c5;
  margin-bottom: 30px;
  margin-top: 0;
}
.contact .social-icons {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 0;
  display: inline-block;
  margin: 0 auto;
}
.contact .social-icons li {
  float: left;
}
.contact .social-icons li.last {
  margin-right: 0;
}
.contact .social-icons a {
  display: inline-block;
  background: #F05F40;
  width: 48px;
  height: 48px;
  text-align: center;
  padding-top: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 8px;
  float: left;
}
.contact .social-icons a:hover {
  background: #e6ad14;
}
.contact .social-icons a .fa {
  color: #fff;
}
.contact .social-icons a .fa:before {
  font-size: 26px;
  text-align: center;
  padding: 0;
}
/* ======= Footer ======= */
.footer {
  padding: 15px 0;
  background: #042a36;
  color: #fff;
}
.footer .copyright {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.footer .fa-heart {
  color: #fb866a;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header .main-nav button {
    margin-right: 0;
  }
  .header .main-nav .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
  .promo .btns .btn {
    margin-right: 0;
    clear: both;
    display: block;
    margin-bottom: 30px;
  }
  .promo .title {
    font-size: 40px;
  }
  .promo .meta {
    margin-top: 60px;
  }
  .promo .meta li {
    float: none;
    display: block;
    margin-bottom: 5px;
  }
  .contact .author-message {
    text-align: center;
  }
  .contact .author-message .profile {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .contact .author-message .speech-bubble {
    margin-left: 0;
  }
  .contact .author-message .speech-bubble:after {
    display: none;
  }
  .contact .social-icons a {
    width: 36px;
    height: 36px;
    padding-top: 7px;
    margin-right: 2px;
  }
  .contact .social-icons a .fa:before {
    font-size: 18px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

#mapid { height: 400px; }

a.read-more-btn{
    text-decoration:none;
    width:100px;
    height:50px;
    background-color:#074F66;
    color:#FFFFFF;
    padding:5px;
    border-radius:5px;
    transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out,border 0.2s ease-in-out;
}

a.read-more-btn:hover{
    background-color:#fff;
    color:#074F66;
    border:2px solid #074F66;
}   

.about-modified{
    background:#f05f40;
}

a.anchor-special{
    text-decoration:none;
}

a.anchor-special:link,a.anchor-special:visited{
    color:#074F66;
}

a.anchor-special:hover,a.anchor-special:active{
    color:#17baef;
}

.team-member img{
	position:absolute;
	max-width:100% !important;
	max-height:100% !important;
	top:0;
	bottom:0;
	margin:auto;
}

.team p.member-description{
	margin-top:5px;
	padding:10px;
	color:#074F66;
}

.team p.member-name{
	margin-top:5px;
	font-size:16px;
	font-weight:bold;
	color:#074F66;
}

.team p.member-specialization{
	margin-top:5px;
	font-style:italic;
	color:#074F66;
}

.team-member{
	position:relative;
	margin:0 auto;
	width:150px;
	height:150px;
	border-radius:100%;
	overflow:hidden;
	background-color:#FFFFFF;
}

.team{
  position:relative;
	height:370px;
	padding-top:20px;
	margin-bottom:30px;
	margin-left:auto;
	box-shadow: 5px 5px 10px gray;
	transition: background-color 0.2s ease-in,color 0.2s ease-in;
}

.team:hover{
	background-color:#074F66;
	color: #FFFFFF;
}

.team:hover p.member-specialization,.team:hover p.member-name,.team:hover p.member-description{
	color: #FFFFFF;
}

ul.social-icons i.i-special {
    width:30px;
    height:30px;
    padding-top:10px;
}

ul.social-icons i.i-special:hover{
    border-radius:100px;
    background-color:#FFFFFF;
}

h2.title{
    margin-bottom:10px !important;
}

header#header{
    z-index:1 !important;
}

section#promo{
    z-index:0 !important;
}

.
.pane p{
  line-height: 22px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    background-color: gradient;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: inline-block;
}

.sponsor p{
  text-align: center;
  font-size: 16px;
  color: orange;
  font-weight: bold;
}
.sponsor h3{
  text-align: center;
  color: orange;
}
.sponsor{
  background: white;
  list-style: none;
}
.sponsor img{
  width:150px;
  height:150px;
}
div.gallery {
    margin: 15px;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
div.fifth img{
    height: 175px !important;
}
.know{
  padding-bottom: 100px; 
  border-top: 1px solid orange;
}
.know h3{
  position: relative;
  top: 50px;
  text-align: center;
  color: white!important;
}
.know h4{
  position: relative;
  top: 50px;
  padding-left: 75px;
  text-align: left;
  color: white!important;
}
.know p{
  position: relative;
  top: 70px;
  text-align: center;
  font-size: 18px !important;
  color: white!important;
}
.improve p{
  text-align: center;
  color: white;
  font-size: 18px;
}
.improve p > a{
  color: red;
}
.improve h3{
  position: relative;
  top:-35px;
  text-align: center;
}
.materials h3{
  text-align: center;
  font-size: 20px !important;
  }
.materials p{
  text-align: center;
  font-size:18px;
  color: white;
}
.improve{
  position: relative;
  top:45px;
}
.improve ul{
  margin-left: 95px; 
}
.improve li > a{
  font-style: normal;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  border: 2px groove black;
  color: white; 
  padding: 10px;
}
.improve ul > li{
  list-style: none;
  display: inline-block;
  margin: 30px;
}
.improve img{
  position: relative;
  top: -45px;
  left:200px;
}
.improve li:nth-child(2)>a{
    color: red;
    padding-left: 20px;
    padding-right: 20px;
  }
  .improve li:nth-child(1)>a{
    color: red;
    padding-left: 15px;
    padding-right: 15px;
  }
  .contact{
    background: white!important;
  }
  .ab h3
  {
      text-align: center;
      font-size: 24px;
  }
  .ab p{
    font-size: 22px!important;
  }
  .ab img{
    position: relative;
    height: 100%;
    width: 100%;
    top: 180px!important;
  }
@media only screen and (max-device-width:480px){
  .navbar-brand {
    position: absolute;
    left: 50px;
    font-size: 16px;
    top:20px;
  }
  nav span{
    position: absolute;
    font-size: 16px;
    color: white;
  }
  .navbar.affix span{
    color: orange;
  }
 h1{
   font-family: promo;
   text-align: center;
   font-size: 25px;
   color: #fff;
   padding-bottom: 50px;
   padding-top: 35px;
}
.intro{
  font-size:20px !important;
  font-style: normal;
  text-align: center !important;
}
.content p{
  text-indent: 0em !important;
}
 .ab ul >li {
  text-align: justify;

 }
 .contribute h3{
  font-size: 16px !important;
 }
  .improve h3{
    font-size: 20px !important;
    text-align: center;
  }
  .improve p{
    text-align: center;
    color: white;
    font-size: 18px;
  }
  .improve p > a
  {
    text-decoration: none;
    color:red;
  }
  .improve ul 
  {
    display: inline-block;
    margin: 12px;

  }
  .improve li:nth-child(2)>a{
    color: red;
    padding-left: 20px;
    padding-right: 20px;
  }
  .improve li:nth-child(1)>a{
    color: red;
    padding-left: 15px;
    padding-right: 15px;
  }
  .improve img{
    position: relative;
    left: 50px;
  }
  
  .materials h3{
    text-align: center;
    font-size: 20px !important;
  }
  .materials p{
    text-align: center;
    font-size: 18px;
    color: white;
  }
  .sponsor h3{
    color: orange;
    font-size: 20px;
    text-align: center;
  }
  .sponsor p{
    text-align: center;
    font-size: 18px;
   }
   div.gallery{

    margin: 2px solid-black;
    padding-left:60px;
    border:  2px solid-black;
   }
   div.gallery:hover{
     border: 1px solid #777 !important;
   }
   div.fifth img{ 
    height: auto !important;
   }
   hr{
    font-size:12px;
    color: orange;
   }
   .know h3{
      color: white !important;
      text-align: center!important;
      font-size: 20px !important;
     }
    .know p{
      text-align: center!important;
      font-size: 18px !important;
      color: white!important;
    }
    .know{
  background: orange!important;
  border-top: 1px solid black !important;
}
.ab img{
  position: relative;
  top:0px!important;
}
.ab ul >li{
  position: relative;
  right: 15px;
}
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
>>>>>>> 7c6ef41d911c0856fd3d858ebff37c01f909ae64
}


<<<<<<< HEAD
=======
}
.sponsor p{
  text-align: center;
  font-size: 16px;
  color: orange;
  font-weight: bold;
}
.sponsor h3{
  text-align: center;
  color: orange;
}
.sponsor{
  background: white;
  list-style: none;
}
.sponsor img{
  width:150px;
  height:150px;
}
div.gallery {
    margin: 15px;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
div.fifth img{
    height: 175px !important;
}
.know{
  background: white;
  border-top: 1px solid orange;
}
.know h3{
  text-align: center;
  color: orange;
}
.know h4{
  padding-left: 75px;
  text-align: left;
  color: orange;
}
.know p{
  text-align: center;
  font-size: 18px !important;
  color: orange;
}
.improve p{
  text-align: center;
  color: white;
  font-size: 18px;
}
.improve p > a{
  color: red;
}
.improve h3{
  text-align: center;
}
.materials h3{
  text-align: center;
  font-size: 20px !important;
  }
.materials p{
  text-align: center;
  font-size:18px;
  color: white;
}

/*portfolio file */


}
 
  /* gallery rules*/
  
  .photos .gallery-item{
    display: flex;
    width: 25%;
  }

 .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  }

.gallery-item {m
  margin: 2px;
  }

.gallery-item .thumbnail {
  width: 240px;
  border: 2px solid GhostWhite;
  border-radius: 4px;
  }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
  .gallery-item .thumbnail{
    width:95%;
    margin-left: 5px;
    margin-right:-3px; 
  }
}
@media only screen and (min-width: 480px)  {
   .gallery-item img{
    width: 300px!important;
    height: 250px;
  }
}